<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">{% block menuleft_title 'Actions' %}</li>
		<li class="divider"></li>
		{% block menuleft_content %}
		<li>&nbsp;</li>
		{% endblock %}
	</ul>
</div>