{% extends "CmsAdminBundle::layout.html.twig" %}
{% block container %}
<div class="hero-unit text-center">
	<h1>Welcome to the dashboard</h1>
	<h2>Please override this template !</h2>
</div>
{% endblock %}
