#admin {
    padding-top: 60px;
    padding-bottom: 10px;
}

#ajax-on-loading .ajax {
    display: none;
    width: 25%;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.row-fluid .well {
    padding-left: 0;
    padding-right: 0;
}