#admin {
    padding-top: 60px;
    padding-bottom: 10px;
}

#ajax-on-loading .ajax {
    display: none;
    width: 25%;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.row-fluid .well {
    padding-left: 0;
    padding-right: 0;
}

/*
    Hyghlighted tab errors
*/
.nav-tabs>li.active.has-error>a,
.tab-content.has-tab-error {
    border-color: #a94442;
}
.nav-tabs>li.has-error>a,
.nav-tabs>li.active.has-error>a {
    border-bottom-color: transparent;
    color: #a94442;
}
.nav-tabs.has-tab-error {
    border-bottom-color: #a94442;
}

.nav-tabs>li.has-error>a {
    font-weight: bold;
}

